*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container-green {
    background-color: #37bec4;
    padding-bottom: 80px;
}
.header {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 15px;
}
nav a {
    color: white;
}
nav a:hover {
    color: blue;
}
.main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    
}
.main-right {
    padding-left: 40px;
    width: 35%;
    padding-top: 100px;
}
.main-right img {
    width: 100%;
}
.main-left {
    color: white;
    padding-top: 100px;
    width: 65%;
}
.main-left h1 {
    font-size: 300%;
}
.left-tekst {
    line-height: 2;
}
.buttons {
    display:flex;
    
    
}
.button {
    border: 3px solid white;
    padding: 30px;
    width: 45%;
    margin-right: 20px;
    font-size: 20px;
    
}
.button p.przycisk  {
    margin: 0;

    
}
.orange {
    background-color: orangered;
}
span.tekst {
font-size: 10px;    
}
.whitelogo {
    width: 1000px;
    margin: 20px auto;
    padding-top: 30px;
}
.whitelogo img {
    display: inline-block; 
    width: 150px;
}

.learn {
    background-color: #f8f8f8;
}

.top {
    max-width: 1000px;
    margin: 0 auto;
    
}
.top h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
    font-weight: 300;
}
.learnbox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

}
.learnboxsmall {
    margin: 0 5px;
}
.learnicon {
    color: #37bec4;
    border: 2px solid #37bec4;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 32px;
}
.learnboxsmall h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding: 24px 0; 
}
.learnboxsmall p {
    line-height: 2;
}
.treebox {
    background-image: url(../img/3d-curved-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.treecenter {
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.treeright {
    width: 50%;
}
.treeleft {
    width: 50%;
    font-size: 24px;
     padding-top: 80px;
}
.treeleft h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding: 5px 0; 
    color: white;
    text-shadow: 1px 1px black;
    font-size: 26px;
}
.treeleft p {
    line-height: 1.60;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: 500;
}
.treeicon {
    color: white;
    border: 2px solid white;
    box-shadow: 1px 1px black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    text-shadow: 5px 5px black;
}
.far {
    text-shadow: 5px 5px black;
}
.bluebox {
    background-color: #37bec4; 
  
}
.bluecenter {
    justify-content: space-between;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
}
.blueboxleft {
    width: 50%;
    padding: 10px;
    
}
.blueboxleft img {
    width: 80%;
    display: block;
}
.blueboxright {
    width: 50%;
    padding-top: 70px;
}
.blueicon {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}
.blueboxright p {
     line-height: 2;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.blueboxright h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding: 5px 0; 
    color: white; 
    font-size: 26px;
}
.whitebox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    
    
}
.whiteboxsmall {
    border-left:  2px solid grey;
    padding-left: 10px;
}
.whitetext p {
    font-style: italic;
    color: grey;
    font-weight: 400;
}
.whitelogo {
     max-width: 1000px;
     margin: 0 auto;
}
.whitelogo h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
    font-weight: 300;
}
.whiteicon1 {
      color: white;
    border: 2px solid ;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: contain;
    float: left;
    margin-right: 30px;
}
.whiteicon2 {
      color: white;
    border: 2px solid ;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    background-image: url(../img/avatar-2.jpg);
    background-position: center;
    background-size: contain;
    float: left;
    margin-right: 30px;
}
.whiteicon3 {
      color: white;
    border: 2px solid ;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    background-image: url(../img/avatar-3.jpg);
    background-position: center;
    background-size: contain;
    float: left;
    margin-right: 30px;
}
.whiteicon4 {
      color: white;
    border: 2px solid ;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    background-image: url(../img/avatar-4.jpg);
    background-position: center;
    background-size: contain;
    float: left;
    margin-right: 30px;
}
.icontext {
    color: grey;
    padding-top: 30px;
    
}
.p123 {
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.p1234 {
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.mountain {
    background-image: url(../img/mountain-view.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover

}
.three {
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
   
}
.book {
    height: 400px;
    width: 300px;
    background: white;
    text-align: center;
    border-top: 4px orangered solid;
    
}
.book h1 {
    margin: 40px 0;
    text-transform: uppercase;
    font-weight: 300;
}
.book h2 {
    background-color: #f8f8f8;
    padding: 40px 0;
    color: orangered;
    font-size: 30px;
    font-weight: 400;
}
.book p {
    color: grey;
    line-height: 1.75;
    
}
h2.orangebook {
    background-color: orangered;
    color: white;
}
.book a {
    display: block;
    background-color: orangered;
    line-height: 60px;
    width: 200px;
    margin: 10px auto;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: 600;
    
}
.book a:hover {
    color: red;
    background-color: orange;
}
.autor {
    background-color: #f8f8f8;
}
.autorbox {
    width: 1000px;
    margin: 0px auto;
    padding-top: 100px;
    padding-bottom: 200px;
   
}
.autoricon {
   width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
.autortext {
    width: 75%;
    float: left;
}
.autortext h1 {
    margin: 0;
    padding-top: 80px;
    font-weight: 450;
    font-size: 24px;
    text-transform: uppercase;
    
}
.autortext p {
    color: dimgrey;
    font-weight: 300;
    line-height: 1.75;
    font-weight: 300;
    color: pink;
}
.autoricon img {
    width: 100%;
    display: block;
}
.newsletter {
    
}
.letterbox {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
}
.letterbox h1 {
    color: #37bec4;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}
.letterbox p {
    text-align: center;
    font-weight: 300;
    color: pink;
}
.email {
    height: 60px;
    width: 300px;
    margin-bottom: 100px;
    padding: 0;
   padding-left: 5px;
}
.emailgo {
    height: 60px;
    width: 150px;
   background-color: #37bec4;
    border: 2px solid #148084;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    margin-left: 30px;
    
}
form.go {
    display: inline-block;
    margin: 0 auto;
}
.divgo {
    width: 500px;
    margin: 20px auto;
    text-align: center;
}
.koniec {
    background-color: black;
}
.koniecbox {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}
.koniectext {
    color: white;
    justify-content: space-between;
    display: flex;
    font-size: 12px;
    font-weight: 100;
}
.koniecicon {
    color: white;
    text-align: center;
    font-size: 34px;
    padding-bottom: 50px;
    padding-top: 30px;
    
}
.koniecicon li {
    display: inline-block;
    margin-left: 10px;
}
.koniecicon ul {
    margin: 0;
    padding: 0;
}
@media ()