html { 
   font-family: Arial Verdana, sans-serif;
   padding: 0;
    margin: 0;
    background: url(bridge.jpg) no-repeat center center fixed; 
background-size: cover;
}
.box h1 {
    text-align: center;
    color: white;
    margin-top: 30%;
    text-transform: ;
    font-weight: 100;
    font-size: 70px;
    padding: 0;
    margin-bottom: 15px;
    position: relative;
}
.box hr {
    width: 15%;
    font-weight: 100%;
    margin: auto;
    padding: 0;
}
.box p {
    color: white;
    text-align: center;
    font-weight: 100; 
}
.leftCorner h5{
    color: white;
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
    margin-left: 20px;
    position: absolute;
    top: 1px;
}
.rightCorner {
    position: absolute;
    bottom: 30px;
    left: 1000px;
    word-spacing: 19px;
}
.rightCorner i {
    color: white;
    font-size: 25px;
}
button {
    border-radius: 90%; 
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
}
button:hover {
    background-color: black;
    opacity: 0.6;
}
.buttons {
    position: relative;
    top: 50%;
    left: 518px;
}

.buttons p {
    position: relative;
    left: -518px;
    top: -56px;
}
.buttonleft {
   position: relative;
    left: -55px;
}
.buttonright {
    position: relative;
    top: -110px;
    left: 240px;
}

